<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KeystrokeAPI" version="1.0.6.4" targetFramework="net461" />
  <package id="Microsoft.Win32.SystemEvents" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Windows.SDK.Win32Metadata" version="10.0.19041.5-preview.1" targetFramework="net461" />
</packages>